/homework.three/nbproject/private/
/homework.three/build/
/homework/three/nbproject/private/
/homework/three/build/
/homework.six/nbproject/private/
/homework.six/build/
/homework.eight.enum/nbproject/private/
/homework.eight.enum/build/
/specialist.four/nbproject/private/
/specialist.four/build/
/specialist.four.edit.file/nbproject/private/
/specialist.four.edit.file/build/
/specialist.five.one/nbproject/private/
/specialist.five.one/build/
/specialist.five.one/dist/
/specialist.five.two/nbproject/private/
/spacialist.five.three/nbproject/private/
/five.homework/nbproject/private/
/five.homework/build/
/homework/foure/nbproject/private/
/homework/foure/build/
/homework/five/nbproject/private/
