/homework.three/nbproject/private/
/homework.three/build/
/homework/three/nbproject/private/
/homework/three/build/
/homework.six/nbproject/private/
/homework.six/build/
/homework.eight.enum/nbproject/private/
/homework.eight.enum/build/
